extends layout.jade

block title
  Blog

block content
  each post, index in published_posts
    if index < 3
      div.blog-post
        a(href="#{post.uri}")
          h2.blog-post-title #{post.title}
        p.blog-post-meta
          em #{dates.format(post.date,"dd MMMM yyyy")}

        p !{post.body}

  p Older posts are available in the <a href="archive.html" shape="rect">archive</a>.






