doctype html
html
  include header.jade
  body(onload="prettyPrint()")
    include menu.jade

    div.container

      div.blog-header
        h1.blog-title mariuszs blog
        p(class="lead blog-description") The official mariuszs blog.

      div.row

        div(class="col-sm-9 blog-main")

          div.blog-post
            h2.blog-post-title
              block title
                Default title
            block content

        include sidebar.jade

    include footer.jade
